body {
  font-family: Courier New, Courier New, Courier, monospace;
}
#forkmeimg {
  border: 0px solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 20px;
  display: block;
}
div#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
