body {
  font-family: Courier New, Courier, monospace;
}
img#forkmeimg {
  border: 0px solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.top-header {
  width: 100%;
  text-align: center;
  margin: 20px;
  display: block;
}
div#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.top-header a,
.top-header a:link,
.top-header a:visited,
.top-header a:hover,
.top-header a:active,
a.excerpt-link,
a.excerpt-link:link,
a.excerpt-link:visited,
a.excerpt-link:hover,
a.excerpt-link:active {
  color: black;
  text-decoration: none;
}

div.entry-name {
  font-size: 1.5em;
  font-weight: bold;
}
div.entry-date {
  font-size: 0.7em;
  font-style: italic;
}
div.entry-text {
  margin-bottom: 30px;
}
