<%inherit file="base.html"/>

<%def name="page_css()" filter="trim">
  ${self.stylesheet("/css/embeds.css")}
</%def>

<%def name="page_js()" filter="trim">
  ${self.ghbadge_js()}
  ${self.twitter_js()}
</%def>

<%def name="header()" filter="trim">
  <h2>Travis Parker, aka teepark</h2>
</%def>


#######
## body
#######

<div id="all-embeds">
  ${self.ghbadge_embed()}
  ${self.twitter_embed()}
</div>

% for date, name, path, excerpt in excerpts:
  <a href="${path}">
    <div class="excerpt_name">${name}</div>
    <div class="excerpt_date">${date.strftime("%b %e %Y, ~%l:%M %P")}</div>
  </a>
  <div class="excerpt_text">${excerpt}</div>
% endfor
