<%inherit file="base.html"/>

<%def name="page_css()" filter="trim">
  ${self.stylesheet("/css/embeds.css")}
</%def>

<%def name="page_js()" filter="trim">
  ${self.ghbadge_js()}
  ${self.twitter_js()}
</%def>

<%def name="header()" filter="trim">
  Travis Parker, aka teepark
</%def>

<%
import re
link_puller = re.compile("<\/?a(>| .*?>)")
%>

#######
## body
#######

<div id="all-embeds">
  ${self.twitter_embed()}
  ${self.ghbadge_embed()}
</div>

% for date, name, path, excerpt in excerpts:
  <a href="${path}">
    <div class="excerpt">
      <div class="entry-name">${name}</div>
      <div class="entry-date">${date.strftime("%b %e %Y at %l:%M %P")}</div>
      <div class="entry-text">${link_puller.sub("", excerpt)}</div>
    </div>
  </a>
% endfor

% if not excerpts:
  <p>
    nothing to see here. <a href="http://github.com/teepark">move along, little doggies</a>
  </p>
% endif
